name: Run Python Tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3
        uses: actions/setup-python@v1
        with:
          python-version: 3.6
      - name: Upgrade pip
        run: |
          python -m pip install --upgrade pip
      - name: Install pipenv
        run: |
          python -m pip install pipenv
      - name: Install dependencies
        run: |
          pipenv install --dev
      - name: Run tests with pytest
        run: pytest 
