name: ovs-dbg release

on:
  push:
    tags:
      - '*'

jobs:
  build-n-publish:
    name: Build and Publish to PyPI or TestPyPI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Upgrade pip
        run: |
          python -m pip install --upgrade pip
      - name: Install pypa/build
        run: |
          python -m pip install build --user
      - name: Install vendored ovs
        run: ./prepare.sh
      - name: Build binary wheel and source tarball
        run: |
          python -m build --sdist --wheel .
      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}

  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Build Changelog
        id: github_release
        uses: mikepenz/release-changelog-builder-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        uses: actions/create-release@v1
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          body: ${{steps.github_release.outputs.changelog}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
